<h1>SmartGrow - Surveillance des Capteurs</h1>

<!-- Affichage des données de capteurs avec des unités -->
<p *ngIf="sensorData?.humidite">Humidité : {{ sensorData.humidite }} %</p>
<p *ngIf="sensorData?.humidite_sol">Humidité du sol : {{ sensorData.humidite_sol }} %</p>
<p *ngIf="sensorData?.temperature">Température : {{ sensorData.temperature }} °C</p>
<p *ngIf="sensorData?.luminosite">Luminosité : {{ sensorData.luminosite }} Lux</p>

<!-- Affichage des horaires de mise à jour des données avec un format lisible -->
<p *ngIf="sensorData?.humidite_time">
  Heure de l'humidité : {{ sensorData.humidite_time | date:'dd/MM/yyyy HH:mm:ss' }}
</p>
<p *ngIf="sensorData?.temperature_time">
  Heure de la température : {{ sensorData.temperature_time | date:'dd/MM/yyyy HH:mm:ss' }}
</p>
<p *ngIf="sensorData?.luminosite_time">
  Heure de la luminosité : {{ sensorData.luminosite_time | date:'dd/MM/yyyy HH:mm:ss' }}
</p>